.container {
    margin: 0 auto;
    padding-left: theme('container.padding');
    padding-right: theme('container.padding');
    
    @screen sm {
        max-width: theme('screens.sm');
    }
    @screen md {
        max-width: theme('screens.md');
    }
    @screen lg {
        max-width: theme('screens.lg');
    }
    @screen xl {
        max-width: theme('screens.xl');
    }
}